[submodule "hyst"]
	path = hyst
	url = https://github.com/MaxGaukler/hyst
[submodule "mpmath"]
	path = mpmath
	url = https://github.com/MaxGaukler/mpmath
[submodule "git-archive-all"]
	path = git-archive-all
	url = https://github.com/MaxGaukler/git-archive-all.sh.git/
