#scikit-build # for slycot (WORKAROUND BUG https://github.com/python-control/Slycot/issues/3)
#slycot # for control.lqr()
#control

cvxopt
cvxpy
mpmath
tikzplotlib
# force older matplotlib to workaround tikzplotlib bug https://github.com/nschloe/tikzplotlib/issues/426
matplotlib==3.2.0