asn1crypto==0.24.0
attrs==19.3.0
coverage==4.5
cryptography==2.1.4
cvxopt==1.1.9
cvxpy==1.1.7
cycler==0.10.0
decorator==4.1.2
deprecation==1.0.1
ecos==2.0.7.post1
future==0.15.2
gmpy2==2.0.8
graphviz==0.13.2
idna==2.6
importlib-metadata==1.5.0
ipython==5.5.0
ipython-genutils==0.2.0
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
matplotlib==2.1.1
more-itertools==8.2.0
# Editable install with no version control (mpmath==999.999.42)
numpy==1.19.4
olefile==0.45.1
osqp==0.6.1
packaging==20.3
pexpect==4.2.1
pickleshare==0.7.4
Pillow==5.1.0
pluggy==0.13.1
prompt-toolkit==1.0.15
py==1.8.1
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyparsing==2.2.0
pytest==5.4.1
python-dateutil==2.6.1
pytz==2018.3
pyxdg==0.25
repoze.lru==0.7
scipy==1.5.4
scs==2.1.2
SecretStorage==2.3.1
simplegeneric==0.8.1
six==1.11.0
swiglpk==4.65.1
termcolor==1.1.0
tikzplotlib==0.9.6
traitlets==4.3.2
wcwidth==0.1.7
zipp==3.1.0
